<div class="well">
    <div class="heading"> Nodes </div>
	<!-- Counts -->
    <div class="controls">
    	<div class="control-group">
		    <div class="row-fluid" id="nodeCount"></div>
		    <div class="row-fluid" id="linkCount"></div>
		</div>
	</div>
    <!-- Node manipulation controls -->
    <div class="controls">
		<div class="control-group">
		    <div class="row-fluid">
			    <button class="btn btn-inverse span10" ng-click="setAll(true);">Select All</button>
			</div>
		</div>
    	<div class="control-group">
		    <div class="row-fluid">
			    <button class="btn btn-inverse span10" ng-click="setAll(false);">Clear Selection</button>
			</div>
		</div>
		<div class="control-group">
			<div class="row-fluid">
			    <button class="btn btn-inverse span10" ng-click="queryLinks();">Query Links</button>
			</div>
		</div>
	</div>
	<!-- Data grid -->
    <div class="gridStyle" ng-grid="gridNodes"></div>
</div>